shamefully-hoist=true
node-linker=hoisted
package-import-method=copy
public-hoist-pattern=*
registry=https://registry.npmmirror.com/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR={{ version }}